div.content
	div.container1
		- course.section = course.section.replace(/\)/, '')
		h1 #{ course.section + ' - ' + course.name }
		p
			| Instructor: #{ course.instructor }
		p
			#{ course.description }
		ul
			- if ( notes.length > 0 )
				- each note in notes
					li
						a( href = '/archive/note/#{ note.id }' ) #{ note.topic || note.id }
			- else
				li No notes found.
